body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F1F3F4;
    color: #000;
}

fieldset{
    margin: 0;
    padding: 0;
    border: none;
}

.container{
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 50px auto 0;
}

form{
    padding: 24px;
    background-color: #fff;
    border: 1px solid #CCD4DA;
    border-radius: 4px;
}

input, button{
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

input{
    margin-bottom: 16px;
    padding: 12px 16px;
    border: 1px solid #CCD4DA;
    border-radius: 4px;
}

input:focus-visible{
    outline: 1px solid #0066FF;
}

label{
    font-size: 12px;
    font-weight: 500;
}

button{
    padding: 16px 0;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.required-star{
    color: #FF1F00;
}

.separator{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 8px 0;
    text-align: center;
    border-top: 1px solid #999999;
}

.separator span{
    display: block;
    position: relative;
    width: 50px;
    top: -10px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    color: #999999;
}

.button-fill{
    background-color: #0066FF;
    color: #fff;
    border: 2px solid #0066FF;
    transition: .5s ease-in-out;
}

.button-fill[disabled]{
    opacity: 0.5;
}

.button-outline{
    
    background-color: transparent;
    border: 2px solid #0066FF;
    color: #0066FF;
}

.button-google svg, .button-facebook svg{
    margin-right: 8px;
    position: relative;
    top: 3px;
}